body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover {
    background-color: #b4d0da;
    border-radius: 9px;
    border: 1px solid #738186;
    width: 960px;
    height: 660px;
    margin: 60px auto;
    position: relative;
}

.bookdot {
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 9px;
    border: 1.5px dashed #eeeeee;
}

.page-container {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 9px;
    background-color: #eeeeee;
}

.page {
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    
}
/*첫번째 위계*/
.profile-container {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: '모리스9';
}

.blank-space {
    flex: 0.04;
}

.content-container {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    font-family: '모리스9';
}

.menu-container {
    flex: 0.15;
    padding-top:50px;
    display:flex;
    flex-direction: column; 
    font-family:'모리스9';
}

/*두번째 위계*/
.visitors {
    flex: 0.07;
    text-align: center;
    line-height: 0.9;
}

.visitors>span {
    color: red;
}

.profile {
    border: 1px solid #cdcdcd;
    background-color: white;
    flex: 1;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 160px;
}

.title {
    display: flex;
    flex: 0.07;
    line-height: 0.9;
}

.content {
    border: 1px solid #cdcdcd;
    background-color: white;
    flex: 1;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 15px;

}


/*세번째 위계*/
.profile-img {
    flex: none;
}

.profile-img>img {
    width: 100%;
}

.profile-text {
    padding-top: 20px;
    flex: 0.9;
    line-height: 25px;
}

.profile-name {
    flex: 0.1;
    font-size: 16px;
}

.title-name {
    flex: 0.5;
    font-size: 16px;
}

.title-address {
    flex: 0.5;
    font-size: 12px;
    text-align: right;
    line-height: 1.2;
text-decoration:none;
    color:black;
}

.profile-history {
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid #cdcdcd; 
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.profile-history>span {
    align-items:center;
    display:flex;
}

.menu-color {
    color:#3395b0;
}

.triangle-up {width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-bottom: 5px solid #738186;
    margin-left:2px;
}

.triangle-down {width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #738186;
}


/*드롭다운*/
.dropdown {
    flex:0;
    padding:8px; 
    margin-top:5px;
    border: 1px solid #c9d4da; 
    position:relative;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .dropdown-content{
     display:none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
 }
 
 .dropdown-button:hover .dropdown-content {
     display:block;
    } 

 .dropdown-content > a {
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 9px;
    color: black;
    text-decoration: none;
  }

  .dropdown-content > a:hover {
    background-color: #f1f1f1;
  }




