

body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover {
    background-color: #b4d0da;
    border-radius: 9px;
    border: 1px solid #738186;
    width: 960px;
    height: 660px;
    margin: 60px auto;
    position: relative;
}

.bookdot {
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 9px;
    border: 1.5px dashed #eeeeee;
}

.page {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 9px;
    background-color: #eeeeee;
}

.content {
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
}

.column1 {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: '모리스9';
}

.column2 {
    flex: 0.045;
}

.column3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: '모리스9';
}

.column4 {
    flex: 0.15;
    border: 1px solid #738186;
}

.row1 {
    flex: 0.07;
    text-align: center;
    line-height: 0.9;
}

.row2 {
    border: 1px solid #cdcdcd;
    background-color: white;
    flex: 1;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 160px;
}

.row3 {
    display: flex;
    flex: 0.07;
    line-height: 0.9;
}

.row4 {
    border: 1px solid #cdcdcd;
    background-color: white;
    flex: 1;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row1>span {
    color: red;
}

li>span {
    color: #2a34b7;
}

.box1 {
    flex: 0.5;
    font-size: 16px;
}

.box2 {
    flex: 0.5;
    font-size: 12px;
    text-align: right;
    line-height: 1.2;
}

.profile1 {
    flex: none;
}

.profile2 {
    padding-top: 20px;
    flex: 1;
    line-height: 25px;
}

.profile3 {
    flex: 0.1;
    font-size: 16px;
}

img {
    width: 100%;
}

.home1 {
    flex: 0.1;
    color: #3f85ab;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.home2 {
    flex: 0.5;
    display: flex;
    flex-direction: row;
}

.home3 {
    flex: 0.2;
    color: #3f85ab;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.home4 {
    flex: 1;
}

hr {
    margin: 0px;
}

.update {
    padding-right: 0px;
    flex: 1;
}

.list1 {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    font-size: 14px;
    ;
}

.list2 {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    font-size: 14px;
    display: flex;

}

.photo {
    color: white;
    background-color: #f2625e;
    padding: 3px 6px;
    border-radius: 3px;
}

.board {
    color: white;
    background-color: #667ac1;
    padding: 3px 6px;
    border-radius: 3px;
}

.list2>li {
    border-bottom: 1px dashed #738186;
    float: left;
    flex: 1;
}
